* {
  font-family: "Ubuntu",  sans-serif;
  background-color: #001;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body {
  color: white;
}

ul {
  margin: 0;
}

.title_block {
  text-align: center;
}

.main_block {
  display: grid;
  width: 65%;
  margin: auto;
  grid-template-columns: 3fr 8fr 3fr;
}

.logos {
  text-align: center;
  grid-column: 1 / span 3;
  padding-bottom: 50px;
}

.logo {
  display: inline-block;
  width: 100px;
  margin: 0;
  padding: 0 20px;
  vertical-align: top;
}

.logo>svg {
  height: 100px;
  width: auto;
  margin: 0;
}

.logo>p {
  margin: 0;
}

.aws_logo {
  color: #F7A80D;
}

.c_logo {
  color: #03599C;
}

.java_logo {
  color: #EA2D2E;
}

.nodejs_logo {
  color: #83CD29;
}

.python_logo {
  color: #FFD845;
}

.terraform_logo {
  color: #5C4EE5;
}

.title_cell {
  padding-right: 30px;
  text-align: right;
}

.title_cell>p {
  margin: 0;
}

.title_cell>svg {
  height: 35px;
  margin: 10px 1px;
}
