* {
  box-sizing: border-box;
}

body {
  background-color: #001;
  color: white;
  margin: 0;
  padding: 0;

  font-family: "Ubuntu",  sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

.top_level_block {
  max-width: 1248px;
  margin: auto;
}

.title_block {
  text-align: center;
}

.profile_links_block {
  text-align: right;
  padding: 0 20px;
}

.profile_logo {
  width: 48px;
  height: 48px;
  margin-left: 10px;
}

.experience_block {
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
  padding-top: 20px;
}

.experience_header {
  grid-column: 1 / span 3;
  padding-bottom: 30px;
}

.experience_header>h2 {
  border-bottom: solid white 1px;
  margin: 10px;
}

.logo_block {
  grid-column: 1 / span 3;
  font-size: 0;
  text-align: center;
}

.logo_block {
  padding-bottom: 10px;
}

.title_cell, .bullet_points_cell, .date_cell {
  padding-bottom: 50px;
}

.button {
  display: inline-block;
  width: 120px;
  margin: 0;
  padding: 0 20px 10px 20px;
  vertical-align: top;
  cursor: pointer;
}

.button, .logo>path, .fadeable, .fade_svg>path {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.logo {
  height: 80px;
  width: auto;
  margin: 0;
}

.button>p {
  margin: 0;
  font-size: 16px;
}

.button.aws {
  color: #F7A80D;
}

.button.c {
  color: #03599C;
}

.button.go {
  color: #00ADD8;
}

.button.java {
  color: #EA2D2E;
}

.button.javascript {
  color: #DA1884;
}

.button.nodejs {
  color: #83CD29;
}

.button.python {
  color: #FFD845;
}

.button.terraform {
  color: #5C4EE5;
}

.section_header {
  grid-column: 1 / span 3;
  padding-bottom: 30px;
  text-align: center;
}

.title_cell {
  padding-right: 30px;
  padding-left: 10px;
  text-align: right;
}

.title_cell>svg {
  height: 35px;
  margin: 10px 1px 0 1px;
}

.bullet_points_cell {
  padding-right: 30px;
}

.date_cell {
  padding-right: 10px;
  padding-left: 30px;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  .experience_block {
    display: block;
  }

  .title_cell, .bullet_points_cell {
    padding-bottom: 20px;
  };
}
