body {
  background-color: #001;
  color: white;
  margin: 0;
  padding: 0;

  font-family: "Ubuntu",  sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

.title_block {
  text-align: center;
}

.main_block {
  display: grid;
  width: 100%;
  max-width: 1248px;
  margin: auto;
  grid-template-columns: 3fr 8fr 3fr;
}

.logo_block {
  text-align: center;
  grid-column: 1 / span 3;
  font-size: 0;
}

.main_block>div {
  padding-bottom: 50px;
}

.button {
  display: inline-block;
  width: 100px;
  margin: 0;
  padding: 0 20px;
  vertical-align: top;
  cursor: pointer;

}

.button, .logo>path, .fadeable, .fade_svg>path {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.logo {
  height: 100px;
  width: auto;
  margin: 0;
}

.button>p {
  margin: 0;
  font-size: 16px;
}

.button.aws {
  color: #F7A80D;
}

.button.c {
  color: #03599C;
}

.button.java {
  color: #EA2D2E;
}

.button.nodejs {
  color: #83CD29;
}

.button.python {
  color: #FFD845;
}

.button.terraform {
  color: #5C4EE5;
}

.title_cell {
  padding-right: 30px;
  padding-left: 10px;
  text-align: right;
}

.title_cell>svg {
  height: 35px;
  margin: 10px 1px 0 1px;
}

.date_cell {
  padding-right: 10px;
  padding-left: 30px;
  text-align: left;
}
